[Unit]
Description=Temperature Monitor Service

[Service]
Type=simple
ExecStart=/usr/local/bin/temperature-monitor

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
